html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: url("../inc/bgTest.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #272e42;
  height: 100vh; }

header h1, header h2, header h3, header h4, header h5, header h6 {
  position: fixed;
  padding: 0;
  border: 0;
  display: flex;
  line-height: 1;
  margin: 0; }

#siteHeader {
  margin: 35px 55px;
  display: inline-block;
  border: 0;
  flex: 1 100%; }
  #siteHeader h1 {
    font-size: 50px;
    font-weight: 700; }

#subtext {
  position: fixed;
  top: 84px;
  padding: 0 0 0 5px;
  font-size: 27px;
  font-weight: 500; }

#contactSection {
  vertical-align: middle;
  margin: 35px 50px;
  right: 0;
  position: fixed;
  display: inline-block;
  width: 300px;
  height: 20px;
  border: 0;
  padding: 7px 10px 20px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  flex: 1 100%; }
  #contactSection a {
    background-color: rgba(64, 121, 189, 0);
    transition: background-color .2s;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 15px 11px 15px;
    margin: 0;
    vertical-align: middle;
    border: 0;
    font-size: 500;
    font-size: 22px; }
  #contactSection a:hover {
    background-color: rgba(64, 121, 189, 0.7); }

nav {
  position: fixed;
  top: 35%;
  font-size: 40px; }
  nav ul, nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1.2;
    transition: background-color .3s; }
    nav ul a, nav li a {
      color: #ffffff;
      text-decoration: none;
      padding: 0 0px 0 55px;
      margin: 0 10px 0 0;
      border: 0;
      font-weight: 500;
      transition: text-shadow .4s, padding .3s, background-color .2s; }
    nav ul a:hover, nav li a:hover {
      color: #ffffff;
      text-shadow: -1px 0px 1px rgba(255, 255, 255, 0.2);
      padding: 0 10px 0 80px;
      background-color: rgba(64, 121, 189, 0.7); }

#profilePic {
  width: 38%;
  margin: auto;
  text-align: left; }

.redEmoji {
  color: #961c1c;
  padding: 5px 5px 0px 5px;
  font-size: 18px; }
